<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <appSettings>
    <add key="app_data" value="C:\Users\faisal\Documents\Visual Studio 2015\Projects\Transactions_Automation\Transactions_Automation\App_Data\" />
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\Users\faisal\Documents\Visual Studio 2015\Projects\Transactions_Automation\Transactions_Automation\App_Data\Executionlog.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd hh:mm:ss}" />
        <!--<conversionPattern value="%newline%newline%date %newline%logger                         [%property{NDC}] %newline&gt;&gt; %message%newline" />-->
        <conversionPattern value="%date:  %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ValidateTransactionsSoap" maxBufferPoolSize="2147483647"
                          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
        <binding name="ValidateTransactionsSoap1" />
        <binding name="PayerIntegrationWSPortBinding" maxBufferPoolSize="2147483647"
                          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="WebservicesSoap" maxBufferPoolSize="2147483647"
                          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
        <binding name="WebservicesSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://dhpo.eclaimlink.ae/ValidateTransactions.asmx"
        binding="basicHttpBinding" bindingConfiguration="ValidateTransactionsSoap"
        contract="DHPO_WS.ValidateTransactionsSoap" name="ValidateTransactionsSoap" />
      <endpoint address="http://pbmswitch.com:9090/PayerIntegrationWS"
        binding="basicHttpBinding" bindingConfiguration="PayerIntegrationWSPortBinding"
        contract="PAYER_NE_WS.PayerIntegrationWS" name="PayerIntegrationWSPort" />
      <endpoint address="https://shafafiya.haad.ae/v2/webservices.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebservicesSoap"
        contract="HAAD_WS.WebservicesSoap" name="WebservicesSoap" />
    </client>
  </system.serviceModel>
</configuration>